p {
  font-family: "Times New Roman", Times, serif;
}
h3 {
  font-family: "Times New Roman", Times, serif;
  margin-top: 0.7rem;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  margin-top: 0.7rem;
}
